//global styles
h1, h2
  font-weight: normal

//Styles that need to take a look
.viewer canvas
  margin: auto
  display: block

.cutHeartsAndArrows > canvas
  float: left

.viewer.light canvas
  height: 100%

.viewer.externalPdf
  width: 100%

.viewer.lightViewer
  background: #000

//styles for slider content
//header
.cont-slider .cont-slider_header h1
  color: #000000
  font-size: 24pt
  font-family: 'Conv_UtopiaStd-Italic_0', Georgia, serif
  margin: 0
  padding: 20px 0 5px

.cont-slider .cont-slider_header h2
  color: #403e40
  font-size: 13pt
  font-family: 'Conv_UtopiaStd-SemiboldIt_0', Georgia, serif
  margin-top: 0

//content
.test-img
  width: 380px
  height: 290px
  background: url("/templates/1/css/images/test-img.png") no-repeat center
  margin: 0 auto

.cont-slider .cont-slider_body
  text-align: center