$hna-image-width: 190px;

.slide__img-wrap--hna {
  height: 320px;
}

.slide__img--hna {
  width: 100%;
}

.hna {
  float: left;
  width: $hna-image-width;

  &__img {
    display: block;
    width: $hna-image-width;
    height: $hna-image-width;
  }

  &__caption {
    margin-top: 20px;
  }

  &--arrows {
    float: right;
  }
}