.slide__img-wrap--light {
  padding-left: 24px;
}

.slide__img--light {
  float: left;
}

.total-grade {
  overflow: hidden;
  margin-top: 40px;
  text-align: center;

  &__title {
    color: #413f41;
    font: italic 18px $font-family-sans-serif;
    line-height: 24px;
  }

  &__grade {
    color: $theme-accent-color;
    font: italic 30px $font-family-serif;
    line-height: 32px;
  }

  &__stars-wrap {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      left: 15%;
      top: 50%;
      height: 1px;
      width: 70%;
      margin-top: -1px;
      background-color: #a5a5a5;
    }
  }

  &__stars {
    display: inline;
    padding: 0 8px;
    background-color: #fff;
    color: $theme-accent-color;
    font: 16px $font-family-serif;
    word-spacing: 3px;
  }
}