@import 'compass/css3';

.slider--loupe {
  background-color: #898989;

  .slider__heading {
    color: #fff;
  }

  .slide {
    &__heading {
      color: #fff;
    }
  }

  .storyline__item {
    color: #ddd;
  }

  .slider__btn {
    &:before, &:after {
      background-color: #eee;
    }
  }

  .storyline__item--active {
    color: #fff;
  }
}

.slide__img-wrap--loupe {
  padding: 30px 0 96px;
  text-align: center;
}

.slide__img--loupe {
  width: 220px;
  height: 220px;
}