@import 'compass/css3';

.slider--loupe {
  background-color: #e3e3e3;
}

.slide__img-wrap--loupe {
  padding: 30px 0 96px;
  text-align: center;
}

.slide__img--loupe {
  width: 220px;
  height: 220px;
}