@import 'compass/css3';

@include keyframes(slideFromLeft) {
  0% {
    @include transform(translate3d(-600px, 0, 0));
  }
}

@include keyframes(slideFromRight) {
  0% {
    opacity: 0;
    @include transform(translate3d(600px, 0, 0));
  }
}

@include keyframes(slideToLeft) {
  100% {
    @include transform(translate3d(-600px, 0, 0));
  }
}

@include keyframes(slideToRight) {
  100% {
    @include transform(translate3d(600px, 0, 0));
  }
}

@include keyframes(slideFromBottom) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 200px, 0));
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
}

@include keyframes(fadeOut) {
  100% {
    opacity: 0;
  }
}

@include keyframes(summaryBackground) {
  0% {
    background-position: 0 300px;
  }
}

@include keyframes(openPopup) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }
}

@include keyframes(closePopup) {
  100% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }
}

@include keyframes(preloader) {
  100% {
    opacity: 0.2;
    @include transform(scale(0.4));
  }
}

$animation-default-duration: 500ms;
$animation-default-steps-count: 4;
$animation-default-delay: 10ms;
$animation-default-timing-function: ease;

@mixin seq-animation(
  $animation-name, $step,
  $timing-function : $animation-default-timing-function,
  $total-steps : $animation-default-steps-count,
  $total-duration : $animation-default-duration,
  $additional-delay : 0ms,
  $fill-mode : both) {

  $delay: (($total-duration * (($step - 1) / $total-steps)) + $animation-default-delay);
  $duration: ($total-duration - $delay - $animation-default-delay);

  $delay: $delay + $additional-delay;

  @include animation($animation-name $duration $delay $timing-function $fill-mode);
}