@import 'compass/css3/animation';
@import 'compass/css3/transform';

@include keyframes(slideFromLeft) {
  0% {
    @include transform(translate3d(-540px, 0, 0));
  }
}

@include keyframes(slideFromRight) {
  0% {
    opacity: 0;
    @include transform(translate3d(540px, 0, 0));
  }
}

@include keyframes(slideToLeft) {
  100% {
    @include transform(translate3d(-540px, 0, 0));
  }
}

@include keyframes(slideToRight) {
  100% {
    @include transform(translate3d(540px, 0, 0));
  }
}

@include keyframes(slideFromBottom) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 200px, 0));
  }
}

@include keyframes(loupeBackground) {
}

$animation-default-duration: 500ms;
$animation-default-steps-count: 4;
$animation-default-delay: 10ms;
$animation-default-timing-function: ease;

@mixin seq-animation(
  $animation-name, $step,
  $timing-function : $animation-default-timing-function,
  $total-steps : $animation-default-steps-count,
  $total-duration : $animation-default-duration,
  $after-all : false,
  $fill-mode : both) {

  $delay: (($total-duration * (($step - 1) / $total-steps)) + $animation-default-delay);
  $duration: ($total-duration - $delay - $animation-default-delay);

  @if $after-all == true {
    $delay: $total-duration + $animation-default-delay;
  }

  @include animation($animation-name $duration $delay $timing-function $fill-mode);
}