//basic parametrs for all top title bloks
.top-title-param,
.top-title-info,
.top-two-title-info
  height: 65px

.top-title-name
  color: #660066
  font-weight: 600
  font-style: italic
  font-size: 19pt

//Top title style 1
.div-line
  background: url("images/top-title-div-line.png") no-repeat 0 0
  display: block
  width: 140px
  height: 9px
  margin: 0 auto

.top-title .top-title_up
  color: #a5a5a5
  font-style: italic
  font-size: 15pt

.top-title .top-title_down
  color: #660066
  font-family: 'Conv_UtopiaStd-SemiboldIt_0', Georgia, serif
  font-size: 20pt



