@import 'compass/css3';

$footer-padding: 40px;

.footer {
	z-index: 3;
	position: absolute;
	left: 0;
	bottom: 13px;
	width: 100%;
	padding: 0 $footer-padding;

	&__disclaimer {
		float: left;
		color: #c0c0c0;
		font-weight: 600;
		font-size: 12px;
		line-height: 20px;
		margin-top: -1px;

		&:hover, &:active {
			color: #222;
		}
	}

	&__powered {
		float: right;
		color: #c0c0c0;
		font-size: 9px;
		line-height: 20px;

		&:hover, &:active {
			color: #222;

			.footer__powered__logo {
				opacity: 1;
			}
		}

		&__logo {
			vertical-align: middle;
			margin-top: -3px;
		}
	}

	&__customer__logo {
		position: absolute;
		right: 140px;
		bottom: 0;
		height: 20px;
		color: silver;
		font-size: 9px;
		line-height: 20px;
		img {
			display: block;
			height: 100%;
			float: right;
			margin-left: 3px;
		}
		&:hover{
			color: #222;
		}
	}
}