.hp-logo-1:before {
    content:"";
    position:absolute;
    z-index: 2;
    width:128px;
    height:40px;
    background:url("../../img/HP.logo.png") 0 0 no-repeat / cover;
    top:22px;
    left: 8px;
}

.hp-logo-2:before {
    content:"";
    position:absolute;
    z-index: 2;
    width:128px;
    height:40px;
    background:url("../../img/HP.logo.png") 0 0 no-repeat / cover;
    bottom:12px;
    left:50%;
    margin-left:-64px;
}

@media screen and (max-width:500px){
    .hp-logo-1:before {
        width:64px;
        height:20px;
        top:5px;
        left:8px;
    }
    .hp-logo-2:before {
        width:64px;
        height:20px;
        bottom:17px;
        margin-left:-34px;
    }
}
