@import 'compass/css3';

$preloader-dot-size: 16px;
$preloader-anim-duration: 500ms;

.preloader {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 270px;
  text-align: center;
  background-color: #fff;

  &__heading {
    color: $theme-accent-color;
    fill: currentColor;
  }

  &__dot {
    display: inline-block;
    background-color: $theme-accent-color;
    width: $preloader-dot-size;
    height: $preloader-dot-size;
    padding: 0 4px;
    @include border-top-left-radius(50%);
    @include border-top-right-radius(50%);
    @include border-bottom-left-radius(50%);
    @include border-bottom-right-radius(50%);
    @include animation(preloader $preloader-anim-duration ease-out infinite alternate);

    @for $i-index from 1 through 3 {
      &:nth-child(#{4 - $i-index}) {
        @include animation-delay((1 - $i-index) * ($preloader-anim-duration / 3));
      }
    }
  }
}