$q-mark-big-size: 16px;
$q-mark-small-size: 14px;
$q-mark-big-font-size: 12px;
$q-mark-small-font-size: 10px;
$q-mark-color: $theme-accent-color;
$q-mark-background-color: #ededed;
$q-mark-border-color: #dfdfdf;

.q-mark {
  position: relative;
  display: inline-block;
  top: -1px;
  width: $q-mark-big-size;
  height: $q-mark-big-size;
  margin: 0 4px;
  font: normal 700 $q-mark-big-font-size $font-family-sans-serif;
  color: $q-mark-color;
  line-height: $q-mark-big-size;
  text-align: center;
  background-color: $q-mark-background-color;
  border: 1px solid $q-mark-border-color;
  @include border-radius(50%);

  &:before {
    content: '?';
  }

  &--small {
    width: $q-mark-small-size;
    height: $q-mark-small-size;
    margin: 0 2px;
    line-height: $q-mark-small-size;
    font-size: $q-mark-small-font-size;
  }
}