.w2{
	.slider__header{
		display: block;
		padding-top: 66px;
	}
	.storyline{
		display: none;
	}
	.slide__heading{
		margin-top: -40px;
		margin-bottom: 70px;
	}
}

.w4, .w5{
	.slider--real .storyline:before{
		background-color: #bbb;
	}
	.slider--real .storyline__item:not(.storyline__item--active):before{
		background-color: #bbb;
	}
}