.slide--cut{
	  .slide__content{
		  padding:70px 36px 0;

		  &:before{
			  background-image:url(../img/bg-cut.png);
			  background-size:contain;
			  height:170px;
			  right:-50px;
			  top:0;
		  }
		  .viewer{
			  text-align:center;

			  canvas{
				  width:220px;
				  height:220px;
			  }
		  }
		  .caption{
			  padding: 36px 36px 0;
		  }
	  }
  }