@import 'compass/css3';
@import 'compass/css3/font-face';

@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700');

@include font-face('Utopia Std', font-files('UtopiaStd-Regular_0.woff', 'UtopiaStd-Regular_0.ttf', 'UtopiaStd-Regular_0.svg'), 'UtopiaStd-Regular_0.eot', normal, normal);

@include font-face('Utopia Std', font-files('UtopiaStd-Italic_0.woff', 'UtopiaStd-Italic_0.ttf', 'UtopiaStd-Italic_0.svg'), 'UtopiaStd-Italic_0.eot', normal, italic);

@include font-face('Utopia Std', font-files('UtopiaStd-SemiboldIt_0.woff', 'UtopiaStd-SemiboldIt_0.ttf', 'UtopiaStd-SemiboldIt_0.svg'), 'UtopiaStd-SemiboldIt_0.eot', bold, italic);

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-serif: 'Utopia Std', 'Georgia', serif;

[data-hidden-until-load] {
	display: block !important;
}

html {
	font: 14px $font-family-sans-serif;
}

body{
	margin:0;
	padding:0;
}
.dashboard{

	header{
		height:408px;
		background:url("../img/head_dashboard.jpg") 50% 50% no-repeat;
	}
	section{
		background:#fff;
		max-width:1072px;
		margin:0 auto;
		margin-top:-208px;
		overflow:hidden;

		h1{
			text-align:center;
			font: italic bold 36px/54px $font-family-serif;
			margin:36px 0 0;
			color:#3e3e3e;
		}

		.dashboard-info{
			margin:24px;
			border: 1px solid #e4e4e4;
			border-left:none;
			border-right:none;
			padding:24px;
			overflow:hidden;
			text-align:center;

			.unit{
				padding:0 28px;
				display:inline-block;
				position:relative;

				&:before{
					content:"";
					position:absolute;
					top:10px;
					left:0;
					height:20px;
					width:1px;
					background:#e4e4e4;
				}
				&:nth-child(1):before{
					display:none;
				}

				span{
					display:block;

					&:nth-child(1){
						color:#9c9b9a;
						font: italic bold 13px/20px $font-family-sans-serif;
					}
					&:nth-child(2){
						color:#000000;
						font: italic 16px/20px $font-family-serif;
					}
				}
			}
		}

		.slide{
			width:500px;
			min-height:500px;
			border:1px solid #e6e6e6;
			box-sizing:border-box;
			float:left;
			margin:18px;


			.title{
				margin:-18px 0 0;
				font: italic 20px/36px $font-family-serif;
				color:#413f41;
				text-align:center;

				span:not(.q-mark){
					background:#fff;
					padding:0 18px;
				}

			}
			.caption{
				color:#535353;
				font:normal 14px/22px $font-family-sans-serif;
				margin: 0;
			}

			&__content{
				position:relative;
				overflow:hidden;
				text-align:center;
				&:before{
					content:'';
					position:absolute;

					width: 300px;
					height: 250px;
					opacity: 0.15;
					background:100% 0 no-repeat;
				}
			}

			//slide light
			&--light{
				padding:0 18px;
			}

			//slide hna
			&--hna{
				.slide__content{
					padding:70px 0 0;

					&:before{
						background-image:url(./img/bg-hna.png);
						background-size:contain;
						right: -60px;
						top: 0;
					}
					.viewer{
						text-align:center;

						canvas{
							width:220px;
							height:220px;
						}
					}

					.title-sub{
						width:40%;
						display:inline-block;
						margin:0;
						font:italic 600 24px/28px $font-family-sans-serif;
						color:#04218a;
					}
					.caption{
						padding: 36px 90px 0;
					}
				}
			}

			//slide loupe3d
			&--loupe3d{
				.slide__content{
					background-color:#878787;
					height:480px;
					&:before{
						background-image:url(./img/bg-loupe.png);
						background-size:contain;
						height:170px;
						right:-50px;
						top:-40px;
					}
				}
			}

			//slide cut
			&--cut{
				.slide__content{
					padding:70px 36px 0;

					&:before{
						background-image:url(./img/bg-cut.png);
						background-size:contain;
						height:170px;
						right:-50px;
						top:0;
					}
					.viewer{
						text-align:center;

						canvas{
							width:220px;
							height:220px;
						}
					}
					.caption{
						padding: 36px 36px 0;
					}
				}
			}
		}
	}
}

@import 'partials/q-mark',
		'partials/slides/light',
		'partials/specs-table',
		'partials/slides/loupe3d',
		'partials/popup';

@import 'modules/color-scheme';
