//Content-slider
.carousel-section
  border: 1px solid #e5e5e5
  min-height: 645px
  max-width: 500px
  margin: 0 auto
  position: relative

.cont-slider
  width: 410px
  margin: 0 auto

.cont-slider_header
  text-align: center

.bx-viewport
  min-height: 550px