<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">-->
<link href="css/jquery.bxslider.css" rel="stylesheet" />
<link href="css/base.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,600italic,700' rel='stylesheet' type='text/css'>
<div class="carousel-section">
    <!--Popup 1 start-->
    <!--Popup 1 need to user with overlay -->
    <div class="popup-overlay" style="display: none"></div>
    <div class="popup-overlay-dark" style="display: none"></div>
    <div class="popup" style="display: none" id="popup-slide1">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Sarine Light Performance Results</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">The Sparkle describes The dramatic flashes that burst out of the diamond as it moves.</span> The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
                </div>
                <div class="perfomance-table">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="level-label">Exceptional</td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                        </tr>
                        <tr>
                            <td class="level-label">Very High</td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                        </tr>
                        <tr>
                            <td class="level-label">High</td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                        </tr>
                        <tr>
                            <td class="level-label">Standard</td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                            <td><div class="hor-line"></div></td>
                        </tr>
                        <tr class="scale-base">
                            <td class="level-label">Minimum</td>
                            <td>
                                <div class="hor-line"></div>
                                <div class="grad-bg" style="height: 0" data-field="brilliance">
                                    <!--<div class="diamond-scale"></div>-->
                                </div>
                            </td>
                            <td>
                                <div class="hor-line"></div>
                                <div class="grad-bg" style="height: 0" data-field="scintillation">
                                    <!--<div class="diamond-scale"></div>-->
                                </div>
                            </td>
                            <td>
                                <div class="hor-line"></div>
                                <div class="grad-bg" style="height: 0" data-field="fire">
                                    <!--<div class="diamond-scale"></div>-->
                                </div>
                            </td>
                            <td>
                                <div class="hor-line"></div>
                                <div class="grad-bg" style="height: 0" data-field="symmetry">
                                    <!--<div class="diamond-scale"></div>-->
                                </div>
                            </td>
                        </tr>
                        <tr class="align-middle">
                            <td></td>
                            <td class="hor-line-dark">
                                <div class="quality-item">Brilliance <span class="info-ico-small icon-btn" data-popup-id="popup-slide1-brilliance"></span></div>
                            </td>
                            <td class="hor-line-dark">
                                <div class="quality-item">Sparkle <span class="info-ico-small icon-btn" data-popup-id="popup-slide1-sparkle"></span></div>
                            </td>
                            <td class="hor-line-dark">
                                <div class="quality-item">Fire <span class="info-ico-small icon-btn" data-popup-id="popup-slide1-fire"></span></div>
                            </td>
                            <td class="hor-line-dark">
                                <div class="quality-item">Symmetry <span class="info-ico-small icon-btn" data-popup-id="popup-slide1-symmetry"></span></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide2">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Sarine Loupe™ Imaging</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The intense bright light that shines from the diamond
                        <br>
                        The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
                    </span>
                </div>
                <div class="diamant-pict"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide2-sub">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Conditions</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">Some text</span>
                </div>
                <div class="diamant-pict"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide3">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Hearts & Arrows</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">Some text</span>
                </div>
                <div class="diamant-pict"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark popup-grad-bottom" style="display: none" id="popup-slide4">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Cut and Symmetry Grading</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The intense bright light that shines from the diamond
                        <br>
                        The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
                    </span>
                </div>
                <div class="diamond-pict-cut"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide4-sub">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Profile to actual proportions</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">Some text</span>
                </div>
                <div class="diamant-pict"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide1-brilliance">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Brilliance</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The intense bright light that shines from the diamond
                        <br>
                        The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
                    </span>
                </div>
                <div class="diamant-pict"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide1-sparkle">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Sparkle</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The Sparkle describes The dramatic flashes that burst out of the diamond as it moves. The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
                    </span>
                </div>
                <div class="diamant-pict"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide1-fire">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Fire</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The vivid colors of the rainbow that radiate from within the diamond. The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity.
                    </span>
                </div>
                <div class="diamant-pict-fire"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide1-symmetry">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Symmetry</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The equal distribution of light that reflects from the diamond. The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity.
                    </span>
                </div>
                <div class="diamant-pict-symmetry"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide3-hearts">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Hearts</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The intense bright light that shines from the diamond
                        <br>
                        The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
                    </span>
                </div>
                <div class="diamond-pict-hearts"></div>
            </div>
        </div>
    </div>

    <div class="popup popup-dark" style="display: none" id="popup-slide3-arrows">
        <div class="p-top"></div>
        <div class="p-content">
            <a href="#" class="close-popup"></a>
            <div class="p-header">
                <h1>Arrows</h1>
            </div>
            <div class="p-body">
                <div class="p-text">
                    <span class="light-color">
                        The Sparkle describes The dramatic flashes that burst out of the diamond as it moves. The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
                    </span>
                </div>
                <div class="diamond-pict-arrows"></div>
            </div>
        </div>
    </div>

    <div class="carousel-preloader"></div>

    <div class="slider5" style="display:none;">
        <div class="slide" id="slide1">
            <!-- content slider -->
            <div class="cont-slider">
                <div class="cont-slider_header">
                    <h1>Diamond Story</h1>
                    <h2>Sarine Light Performance Results <span class="info-ico-small icon-btn" data-popup-id="popup-slide1"></span></h2>
                </div>
                <div class="cont-slider_body">
                    <table cellpadding="0" cellspacing="0" border="0" class="media-container">
                        <tr>
                            <td>
                                <sarine-viewer viewer="lightReportViewer" order="1" version="v1"></sarine-viewer>
                            </td>
                        </tr>
                    </table>
                    <div class="top-title top-title-param">
                        <div class="top-title_up">Total Grade</div>
                        <div class="div-line"></div>
                        <div class="top-title_down">
                            <span data-replace-title=""></span> <!--<span class="ultimate-stars"></span>-->
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            GIA: <span data-sarine-info="stoneProperties.GIA"></span>
                        </div>
                        <div>
                            Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
                        </div>
                        <div>
                            Carat: <span data-sarine-info="stoneProperties.carat"></span>
                        </div>
                        <div>
                            Color: <span data-sarine-info="stoneProperties.color"></span>
                        </div>
                        <div>
                            Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
                        </div>
                        <div>
                            Cut: <span data-sarine-info="stoneProperties.cutGrade"></span>
                        </div>
                    </div>
                </div>
                <div class="cont-slider_footer"></div>
            </div>
            <!-- / content slide -->
        </div>
        <div class="slide bg-pict-1" id="slide2">
            <!-- content slider -->
            <div class="cont-slider">
                <div class="cont-slider_header">
                    <h1>Diamond Story</h1>
                    <h2>Sarine Loupe™ Imaging <span class="info-ico-small icon-btn" data-popup-id="popup-slide2"></span></h2>
                </div>
                <div class="cont-slider_body">
                    <table cellpadding="0" cellspacing="0" border="0" class="media-container">
                        <tr>
                            <td>
                                <sarine-viewer viewer="loupeRealView" order="2" version="v1"></sarine-viewer>
                            </td>
                        </tr>
                    </table>
                    <div class="top-title-info top-title-param">
                        <div class="top-title-name">Conditions <span class="info-ico icon-btn" data-popup-id="popup-slide2-sub"></span></div>
                    </div>
                    <div class="product-info">
                        <div>
                            GIA: <span data-sarine-info="stoneProperties.GIA"></span>
                        </div>
                        <div>
                            Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
                        </div>
                        <div>
                            Carat: <span data-sarine-info="stoneProperties.carat"></span>
                        </div>
                        <div>
                            Color: <span data-sarine-info="stoneProperties.color"></span>
                        </div>
                        <div>
                            Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
                        </div>
                        <div>
                            Cut: <span data-sarine-info="stoneProperties.cutGrade"></span>
                        </div>
                    </div>
                </div>
                <div class="cont-slider_footer"></div>
            </div>
            <!-- / content slide -->
        </div>
        <div class="slide bg-pict-2">
            <!-- content slider -->
            <div class="cont-slider">
                <div class="cont-slider_header">
                    <h1>Diamond Story</h1>
                    <h2>Hearts & Arrows <span class="info-ico-small icon-btn" data-popup-id="popup-slide3"></span></h2>
                </div>
                <div class="cont-slider_body">
                    <table cellpadding="0" cellspacing="0" border="0" class="media-container">
                        <tr>
                            <td>
                                <sarine-viewer viewer="cutHeartsAndArrows" order="3" version="v1"></sarine-viewer>
                            </td>
                        </tr>
                    </table>
                    <div class="top-two-title-info top-title-param clearfix">
                        <div class="pull-left">
                            <div class="top-title-name">Hearts <span class="info-ico icon-btn" data-popup-id="popup-slide3-hearts"></span></div>
                            <!--<div class="perf-level">Perfection Level: <b>A++</b></div>-->
                        </div>
                        <div class="pull-right">
                            <div class="top-title-name">Arrows <span class="info-ico icon-btn" data-popup-id="popup-slide3-arrows"></span></div>
                            <!--<div class="perf-level">Perfection Level: <b>A++</b></div>-->
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            GIA: <span data-sarine-info="stoneProperties.GIA"></span>
                        </div>
                        <div>
                            Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
                        </div>
                        <div>
                            Carat: <span data-sarine-info="stoneProperties.carat"></span>
                        </div>
                        <div>
                            Color: <span data-sarine-info="stoneProperties.color"></span>
                        </div>
                        <div>
                            Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
                        </div>
                        <div>
                            Cut: <span data-sarine-info="stoneProperties.cutGrade"></span>
                        </div>
                    </div>
                </div>
                <div class="cont-slider_footer"></div>
            </div>
            <!-- / content slide -->
        </div>
        <div class="slide bg-pict-3">
            <!-- content slider -->
            <div class="cont-slider">
                <div class="cont-slider_header">
                    <h1>Diamond Story</h1>
                    <h2>Cut and Symmetry Grading <span class="info-ico-small icon-btn" data-popup-id="popup-slide4"></span></h2>
                </div>
                <div class="cont-slider_body">
                    <table cellpadding="0" cellspacing="0" border="0" class="media-container">
                        <tr>
                            <td>
                                <sarine-viewer viewer="externalImage" order="4" version="v1"></sarine-viewer>
                            </td>
                        </tr>
                    </table>
                    <div class="top-title-info top-title-param">
                        <div class="top-title-name">Profile to actual proportions <span class="info-ico icon-btn" data-popup-id="popup-slide4-sub"></span></div>
                    </div>
                    <div class="product-info">
                        <div>
                            GIA: <span data-sarine-info="stoneProperties.GIA"></span>
                        </div>
                        <div>
                            Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
                        </div>
                        <div>
                            Carat: <span data-sarine-info="stoneProperties.carat"></span>
                        </div>
                        <div>
                            Color: <span data-sarine-info="stoneProperties.color"></span>
                        </div>
                        <div>
                            Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
                        </div>
                        <div>
                            Cut: <span data-sarine-info="stoneProperties.cutGrade"></span>
                        </div>
                    </div>
                </div>
                <div class="cont-slider_footer"></div>
            </div>
            <!-- / content slide -->
        </div>
    </div>
    <!--Pager-->
    <div id="bx-pager" class="pager" style="display:none;">
        <ul class="clearfix">
            <li class="first-elem">
                <div class="hide-line"></div>
                <a data-slide-index="0" href="">
                    <i class="romb-icon"></i>
                    <span>Light</span>
                </a>
            </li>
            <li>
                <a data-slide-index="1" href="">
                    <i class="romb-icon"></i>
                    <span>Loupe</span>
                </a>
            </li>
            <li>
                <a data-slide-index="2" href="">
                    <i class="romb-icon"></i>
                    <span>Hearts &<br />Arrows</span>
                </a>
            </li>
            <li class="last-elem">
                <div class="hide-line"></div>
                <a data-slide-index="3" href="">
                    <i class="romb-icon"></i>
                    <span>Cut</span>
                </a>
            </li>
        </ul>
    </div>
    <!--Copyright-->
    <div class="powered-by" style="display:none;">
        <div class="powered-pict"></div>
    </div>
</div>
<script src="js/jquery.bxslider.min.js"></script>
<script>
    (function ($) {
        $(function () {
            'use strict'

            var scaleTable = { "MIN": 100, "STD": 200, "HIGH": 300, "VH": 400, "EXC": 500 };
            var stone = window.stones && window.stones[0];

            $('span[data-sarine-info]').each(function (i, el) {
                var field = $(el).attr('data-sarine-info');
                var value = recurse(stone, field.split('.'));
                if (value === (void 0) || value === null) {
                    $(el).parent().hide();
                }
            });

            $('#slide1 span.icon-btn').click(function () {
                $('#popup-slide1').find('.perfomance-table tr.scale-base .grad-bg').each(function (idx, el) {
                    var $el = $(el);
                    var lg = stone && stone.lightGrades && stone.lightGrades[$el.attr('data-field')];
                    var height = lg && $el.parent().height() * (scaleTable[lg.name] / 100);
                    $el.css({ height: height + 'px' });
                });
                $('.popup-overlay').fadeIn('slow');
            });

            $('span.icon-btn').click(function () {
                var id = $(this).attr('data-popup-id');
                if (id) {
                    $('#' + id).show('slow');
                    $('.popup-overlay-dark').fadeIn('slow');
                }
            });

            $('#popup-slide1 a.close-popup').click(function () {
                $('.popup-overlay').fadeOut('slow');
            });

            $('.popup a.close-popup').click(function () {
                $(this).parentsUntil('div.popup').parent().hide('slow');
                $('.popup-overlay-dark').fadeOut('slow');
            });

            function recurse(o, props) {
                if (props.length === 0) {
                    return o;
                }
                if (!o) {
                    return void 0;
                }
                return recurse(o[props.shift()], props);
            };

            function init() {
                if (window.gradeScales) {
                    var totalGradeName = stone.lightGrades && stone.lightGrades.totalGrade && stone.lightGrades.totalGrade.name;
                    var totalGrade = window.gradeScales.totalGrade || [];
                    totalGrade.some(function (obj) {
                        if (obj.value === totalGradeName) {
                            $('#slide1 .top-title_down span[data-replace-title]').text(obj["default-display"]);
                            return true;
                        }
                        return false;
                    });
                };

                $('.slider5').bxSlider({
                    slideWidth: 500,
                    minSlides: 1,
                    maxSlides: 1,
                    moveSlides: 2,
                    slideMargin: 10,
                    speed: 1000,
                    startSlide: 0,
                    pagerCustom: '#bx-pager',
                    infiniteLoop: false,
                    onSliderLoad: function () {
                        $('.carousel-preloader').hide();
                        $('.slider5').show();
                        $('.powered-by').show();
                        $('#bx-pager').show();
                    }
                });
            };

            init();
        });
    })(window.jQuery);
</script>
