html.mdrnjs.mdrntouch {
  [data-popup-id] {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -12px;
      bottom: -12px;
      left: 0;
      right: 0;
    }
  }
}