@import 'compass/css3/font-face';

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700');


@include font-face('Utopia Std',
  font-files('UtopiaStd-Regular_0.woff',
    'UtopiaStd-Regular_0.ttf',
    'UtopiaStd-Regular_0.svg'),
  'UtopiaStd-Regular_0.eot', normal, normal);

@include font-face('Utopia Std',
  font-files('UtopiaStd-Italic_0.woff',
    'UtopiaStd-Italic_0.ttf',
    'UtopiaStd-Italic_0.svg'),
  'UtopiaStd-Italic_0.eot', normal, italic);

@include font-face('Utopia Std',
  font-files('UtopiaStd-SemiboldIt_0.woff',
    'UtopiaStd-SemiboldIt_0.ttf',
    'UtopiaStd-SemiboldIt_0.svg'),
  'UtopiaStd-SemiboldIt_0.eot', bold, italic);

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-serif: 'Utopia Std', 'Garamond', 'Georgia', serif;

html {
  font: 14px $font-family-sans-serif;
}

h1 {
  font: italic 30px $font-family-serif;
  line-height: 36px;
  text-align: center;
  color: #010101;
}

h2 {
  font: italic 20px $font-family-serif;
  line-height: 28px;
  text-align: center;
  color: #413f41;
}

h3 {
  font: italic 600 20px $font-family-sans-serif;
  line-height: 28px;
  text-align: center;
  color: $theme-accent-color;
}