<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">-->
<link href="css/jquery.bxslider.css" rel="stylesheet" />
<link href="css/base.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,700' rel='stylesheet' type='text/css'>
<div class="carousel-section">
	<div class="slider5">
		<div class="slide bg-pict-1">
			<!-- content slider -->
			<div class="cont-slider">
				<div class="cont-slider_header">
					<h1>Diamond Story</h1>
					<h2>Sarine Light Perfomance Results <span class="info-ico-small icon-btn"></span></h2>
				</div>
				<div class="cont-slider_body">
					<div class="test-img"></div>
					<div class="top-title">
						<div class="top-title_up">Total Grade</div>
						<div class="div-line"></div>
						<div class="top-title_down">Ultimate <span class="ultimate-stars"></span></div>
					</div>
					<div class="product-info">
						<div>
							GIA: <span data-sarine-info="stoneProperties.GIA"></span>
						</div>
						<div>
							Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
						<div>
							Color: <span data-sarine-info="stoneProperties.color"></span>
						</div>
						<div>
							Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
						</div>
						<div>
							Cut: <span data-sarine-info="stoneProperties.cut"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
					</div>
				</div>
				<div class="cont-slider_footer"></div>
			</div>
			<!-- / content slid -->
		</div>
		<div class="slide">
			<!-- content slider -->
			<div class="cont-slider">
				<div class="cont-slider_header">
					<h1>Diamond Story</h1>
					<h2>Sarine Loupe™ Imaging <span class="info-ico"></span></h2>
				</div>
				<div class="cont-slider_body">
					<div class="test-img"></div>
					<div class="top">
						Conditions <span class="info-ico"></span>
					</div>
					<div>
						<div>
							GIA: <span data-sarine-info="stoneProperties.GIA"></span>
						</div>
						<div>
							Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
						<div>
							Color: <span data-sarine-info="stoneProperties.color"></span>
						</div>
						<div>
							Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
						</div>
						<div>
							Cut: <span data-sarine-info="stoneProperties.cut"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
					</div>
				</div>
				<div class="cont-slider_footer"></div>
			</div>
			<!-- / content slid -->
		</div>
		<div class="slide">
			<h1>RealViewImage:</h1>
			<!--<sarine-viewer viewer="loupeRealViewImage"></sarine-viewer>-->
		</div>
		<div class="slide">
			<h1>TopInspection:</h1>
			<!--<sarine-viewer viewer="loupeTopInspection"></sarine-viewer>-->
		</div>
		<div class="slide">
			<h1>TopInspectionImage:</h1>
			<!--<sarine-viewer viewer="loupeTopInspectionImage"></sarine-viewer>-->
		</div>
	</div>
	<!--Pager-->
	<div id="bx-pager" class="pager">
		<ul class="clearfix">
			<li class="first-elem"><div class="hide-line"></div><a data-slide-index="0" href=""><i class="romb-icon"></i><span>Summary</span></a></li>
			<li><a data-slide-index="1" href=""><i class="romb-icon"></i><span>Light</span></a></li>
			<li><a data-slide-index="2" href=""><i class="romb-icon"></i><span>Loupe</span></a></li>
			<li><a data-slide-index="3" href=""><i class="romb-icon"></i><span>Hearts &<br/>Arrows</span></a></li>
			<li class="last-elem"><div class="hide-line"></div><a data-slide-index="4" href=""><i class="romb-icon"></i><span>Cut</span></a></li>
		</ul>
	</div>
	<!--Copyright-->
	<div class="powered-by">
		<div class="powered-pict"></div>
	</div>
</div>
<script src="js/jquery.bxslider.min.js"></script>
<script>
    (function ($) {
        $(function () {
            $('.slider5').bxSlider({
                slideWidth: 500,
                minSlides: 1,
                maxSlides: 1,
                moveSlides: 2,
                slideMargin: 10,
                speed: 1000,
                pagerCustom: '#bx-pager'
            });
        });
    })(window.jQuery);
</script>
