<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">-->
<link href="css/jquery.bxslider.css" rel="stylesheet" />
<link href="css/base.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,700' rel='stylesheet' type='text/css'>
<div class="carousel-section">
	<!--Popup start-->
	<!--Overlay-->
	<div class="popup-overlay"></div>
	<div class="popup">
		<div class="p-top style-1"></div>
		<div class="p-content">
			<a href="" class="close-popup"></a>
			<div class="p-header">
				<h1>Sarine Light Perfomance Results</h1>
			</div>
			<div class="p-body">
				<div class="p-text">
					<span class="light-color">The Sparkle describes The dramatic flashes that burst out of the diamond as it moves.</span> The diamond’s light performance is affected both from the diamond’s natural characteristics; its clarity imperfections and its color, and by the way it is cut.
				</div>
				<div class="perfomance-table">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td class="level-label">Exceptional</td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
						</tr>
						<tr>
							<td class="level-label">Very High</td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
						</tr>
						<tr>
							<td class="level-label">High</td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
						</tr>
						<tr>
							<td class="level-label">Standard</td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
						</tr>
						<tr>
							<td class="level-label">Minimum</td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
							<td><div class="hor-line"></div></td>
						</tr>
						<tr class="align-middle">
							<td></td>
							<td class="hor-line-dark">
								<div class="quality-item">Brilliance <span class="info-ico-small icon-btn"></span></div>
							</td>
							<td class="hor-line-dark">
								<div class="quality-item">Sparkle <span class="info-ico-small icon-btn"></span></div>
							</td>
							<td class="hor-line-dark">
								<div class="quality-item">Fire <span class="info-ico-small icon-btn"></span></div>
							</td>
							<td class="hor-line-dark">
								<div class="quality-item">Symmetry <span class="info-ico-small icon-btn"></span></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--Popup end-->
	<div class="slider5">
		<div class="slide bg-pict-1">
			<!-- content slider -->
			<div class="cont-slider">
				<div class="cont-slider_header">
					<h1>Diamond Story</h1>
					<h2>Sarine Light Perfomance Results <span class="info-ico-small icon-btn"></span></h2>
				</div>
				<div class="cont-slider_body">
					<div class="test-img"></div>
					<div class="top-title top-title-param">
						<div class="top-title_up">Total Grade</div>
						<div class="div-line"></div>
						<div class="top-title_down">Ultimate <span class="ultimate-stars"></span></div>
					</div>
					<div class="product-info">
						<div>
							GIA: <span data-sarine-info="stoneProperties.GIA"></span>
						</div>
						<div>
							Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
						<div>
							Color: <span data-sarine-info="stoneProperties.color"></span>
						</div>
						<div>
							Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
						</div>
						<div>
							Cut: <span data-sarine-info="stoneProperties.cut"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
					</div>
				</div>
				<div class="cont-slider_footer"></div>
			</div>
			<!-- / content slide -->
		</div>
		<div class="slide">
			<!-- content slider -->
			<div class="cont-slider">
				<div class="cont-slider_header">
					<h1>Diamond Story</h1>
					<h2>Sarine Loupe™ Imaging <span class="info-ico-small icon-btn"></span></h2>
				</div>
				<div class="cont-slider_body">
					<div class="test-img"></div>
					<div class="top-title-info top-title-param">
						<div class="top-title-name">Conditions <span class="info-ico icon-btn"></span></div>
					</div>
					<div class="product-info">
						<div>
							GIA: <span data-sarine-info="stoneProperties.GIA"></span>
						</div>
						<div>
							Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
						<div>
							Color: <span data-sarine-info="stoneProperties.color"></span>
						</div>
						<div>
							Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
						</div>
						<div>
							Cut: <span data-sarine-info="stoneProperties.cut"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
					</div>
				</div>
				<div class="cont-slider_footer"></div>
			</div>
			<!-- / content slide -->
		</div>
		<div class="slide">
			<!-- content slider -->
			<div class="cont-slider">
				<div class="cont-slider_header">
					<h1>Diamond Story</h1>
					<h2>Sarine Loupe™ Imaging <span class="info-ico-small icon-btn"></span></h2>
				</div>
				<div class="cont-slider_body">
					<div class="test-img"></div>
					<div class="top-two-title-info top-title-param clearfix">
						<div class="pull-left">
							<div class="top-title-name">Hearts <span class="info-ico icon-btn"></span></div>
							<div class="perf-level">Perfection Level: <b>A++</b></div>
						</div>
						<div class="pull-right">
							<div class="top-title-name">Arrows <span class="info-ico icon-btn"></span></div>
							<div class="perf-level">Perfection Level: <b>A++</b></div>
						</div>
					</div>
					<div class="product-info">
						<div>
							GIA: <span data-sarine-info="stoneProperties.GIA"></span>
						</div>
						<div>
							Sarine ID: <span data-sarine-info="stoneProperties.id"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
						<div>
							Color: <span data-sarine-info="stoneProperties.color"></span>
						</div>
						<div>
							Clarity: <span data-sarine-info="stoneProperties.clarity"></span>
						</div>
						<div>
							Cut: <span data-sarine-info="stoneProperties.cut"></span>
						</div>
						<div>
							Carat: <span data-sarine-info="stoneProperties.carat"></span>
						</div>
					</div>
				</div>
				<div class="cont-slider_footer"></div>
			</div>
			<!-- / content slide -->
		</div>
		<div class="slide">
			<h1>TopInspection:</h1>
			<!--<sarine-viewer viewer="loupeTopInspection"></sarine-viewer>-->
		</div>
		<div class="slide">
			<h1>TopInspectionImage:</h1>
			<!--<sarine-viewer viewer="loupeTopInspectionImage"></sarine-viewer>-->
		</div>
	</div>
	<!--Pager-->
	<div id="bx-pager" class="pager">
		<ul class="clearfix">
			<li class="first-elem"><div class="hide-line"></div><a data-slide-index="0" href=""><i class="romb-icon"></i><span>Summary</span></a></li>
			<li><a data-slide-index="1" href=""><i class="romb-icon"></i><span>Light</span></a></li>
			<li><a data-slide-index="2" href=""><i class="romb-icon"></i><span>Loupe</span></a></li>
			<li><a data-slide-index="3" href=""><i class="romb-icon"></i><span>Hearts &<br/>Arrows</span></a></li>
			<li class="last-elem"><div class="hide-line"></div><a data-slide-index="4" href=""><i class="romb-icon"></i><span>Cut</span></a></li>
		</ul>
	</div>
	<!--Copyright-->
	<div class="powered-by">
		<div class="powered-pict"></div>
	</div>
</div>
<script src="js/jquery.bxslider.min.js"></script>
<script>
    (function ($) {
        $(function () {
            $('.slider5').bxSlider({
                slideWidth: 500,
                minSlides: 1,
                maxSlides: 1,
                moveSlides: 2,
                slideMargin: 10,
                speed: 1000,
                pagerCustom: '#bx-pager'
            });
        });
    })(window.jQuery);
</script>
