@import 'compass/css3';

.slider--loupe {
	background-color: #878787;

	.slider__heading {
		color: #fff;
	}

	.slide {
		&__heading {
			color: #fff;
		}

		&__caption {
			color: #fff;
		}
	}

	.storyline__item {
		color: #ddd;
	}

	.slider__btn {
		stroke: #eee;
	}

	.storyline__item {
		&:hover, &:active, &--active{
			color:#fff;
		}
	}
}


.slide--loupe {

	&:before {
		background-image: url('../img/bg-loupe.png');
		top: -50px;
		@include background-size(200px);
		opacity: 0.1;
	}

	.slide__img-wrap--loupe {
		padding-bottom: 20px;
		overflow: visible;
	}

	.slide__img--loupe {
		width: 250px;
		height: 250px;
		margin: 0 auto;
	}
}